<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- <title>Coda Operazioni</title> -->
    <title>Simulazione Multipla</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/Login-Form-Basic-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/VentasPro-Login.css') }}">

    <link rel="stylesheet" href="http://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="http://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>

</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#"><img style="width: 32px;height: 33px;" src="{{ url_for('static', filename='/img/Regione_Campania-logo-0A3FAC65C4-seeklogo.com.png') }}">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>FUMI2</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="dashboard"><i class="fas fa-terminal"></i><span style="color: var(--bs-accordion-bg);">Dashboard</span></a></li>
                    <!--<li class="nav-item"><a class="nav-link" href="simulazione-singola"><i class="fas fa-eye"></i><span style="color: var(--bs-accordion-bg);">Simulazione singola</span></a></li>-->
                    <li class="nav-item"><a class="nav-link" href="simulazioni"><i class="fas fa-list"></i><span style="color: var(--bs-accordion-bg);">Simulazioni</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="storico"><i class="fas fa-table"></i><span style="color: var(--bs-accordion-bg);">Storico</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="profilo"><i class="far fa-user-circle"></i><span style="color: var(--bs-accordion-bg);">Profilo</span></a></li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        <small class="form-text fs-4 fw-semibold" style="width: auto;height: auto;">Benvenuto! La tua&nbsp;ultima visita risale al: {{ last_access }}&nbsp;</small>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                        </ul>
                        <small class="form-text" style="margin-left: 0px;width: 250.1641px; font-weight:bold">
                            <h2><b>{{ user }}</b></h2>
                        </small>
                        <a href="{{ url_for('logout') }}" class="btn btn-primary">Log Out</a>

                    </div>
                </nav>


            

                <div class="container-fluid" style="width: auto;height: auto;">

                    <!-- style="margin-bottom: 25px;" --> 
                    <div class="row" id="button-show" style="display: block;">
                        <div class="col" style="width: auto;margin-left: auto;margin-right: auto;text-align: center;">
                            <button class="btn btn-success btn-lg" style="margin-left: 8px; font-weight: bold;width: auto;height: auto;" onclick='showInputForm()'>&nbsp;Mostra Form&nbsp;<i class="fas fa-edit"></i>&nbsp;</button>
                        </div>
                    </div>

                    <form method="POST" id="row-input" style="display: none;">
                        <div class="d-sm-flex justify-content-between align-items-center mb-4" style="border-style: none;">
                            <h3 class="text-dark mb-0">Simulazioni</h3>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col" style="margin-bottom: 20px;">
                                        <div class="card shadow border-start-primary py-2" style="margin-bottom: 10px;width: auto;height: auto;">
                                            <div class="card-body">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col me-2">
                                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>DESCRIZIONE</span></div><input type="text" name="area" id="area_dash" style="width: 162px;" value="test" required>
                                                        <div class="text-dark fw-bold h5 mb-0"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card shadow border-start-primary py-2">
                                            <div class="card-body">
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col me-2">
                                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-purple);">Longitudine</span></div>
                                                        <div class="text-dark fw-bold h5 mb-0"><span><input type="number" name="long" step="any" id="long_dash" style="width: 160px;" value="54.4" required></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow border-start-success py-2" style="margin-bottom: 10px;height: 100.8047px;">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>DATA</span></div>
                                                <div class="text-dark fw-bold h5 mb-0"><span><input id="date_dash" type="date" name="data" style="width: 168px;" value="03/03/2023" required></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow border-start-success py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span style="color: var(--bs-indigo);">latitudine</span></div><input type="number" step="any" name="lat" id="lat_dash" style="width: 160px;" value="34.4" required>
                                                <div class="text-dark fw-bold h5 mb-0"><span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow border-start-info py-2" style="margin-bottom: 10px;height: 100.805px;">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: var(--bs-red);">ora</span></div>
                                                <div class="text-dark fw-bold h5 mb-0">

                                                    <select name="hours" class="Input">
                                                        {% for hour in hours %}
                                                        <option value="{{ hour }}">{{ hour }}</option>
                                                        {% endfor %}
                                                    </select><br><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow border-start-info py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-info fw-bold text-xs mb-1"><span style="color: var(--bs-code-color);">Temperatura</span></div><input type="number" name="temp" id="temp_dash" style="width: 160px;" value="200" required>
                                                <div class="row g-0 align-items-center">
                                                    <div class="col-auto">
                                                        <div class="text-dark fw-bold h5 mb-0 me-3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow border-start-warning py-2" style="margin-bottom: 10px;">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>DURATA</span></div><input type="number" name="durata" id="duration_dash" style="width: 160px;" value="1" required>
                                                <div class="text-dark fw-bold h5 mb-0"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow border-start-info py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-info fw-bold text-xs mb-1"><span style="color: var(--bs-code-color);">Codice GISA</span></div><input type="text" name="codice_gisa" id="codice_gisa" style="width: 160px;" value="Codice_Na23">
                                                <div class="row g-0 align-items-center">
                                                    <div class="col-auto">
                                                        <div class="text-dark fw-bold h5 mb-0 me-3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow border-start-warning py-2" style="margin-bottom: 10px; height: 100.805px;">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                                    <span style="color: var(--bs-indigo);">COMUNE</span>
                                                </div>
                                                <input type="text" name="comune" id="comune_label" style="width: 160px;" list="comuni_list" required>
                                                <datalist id="comuni_list">
                                                </datalist>
                                                <div class="text-dark fw-bold h5 mb-0"><span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-bottom: 25px;">
                            <div class="col" style="width: auto;margin-left: auto;margin-right: auto;text-align: center;">
                                <button class="btn btn-danger btn-lg" type="submit" style="margin-left: 5px;font-weight: bold;width: auto;height: auto;margin-right: 8px;">&nbsp;Reset&nbsp;<i class="fas fa-eraser"></i>&nbsp; &nbsp;</button>
                                <button class="btn btn-success btn-lg" type="submit" name="generate" id="start-button" style="margin-left: 8px; font-weight: bold;width: auto;height: auto;">&nbsp;Genera&nbsp;<i class="fas fa-globe-americas"></i>&nbsp;</button>
                                <button class="btn btn-success btn-lg" style="margin-left: 8px; font-weight: bold;width: auto;height: auto;" onclick="showInputForm()">&nbsp;Nascondi Form&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <p>{% for mesg in get_flashed_messages() %}
                            <div class="alert alert-danger text-center"><b>{{ mesg }}</b></div>
                            {% endfor %}</p>
                    </div>

                    <div class="row">

                        <!-- <div class="col"></div> --> 

                            <div class="col-lg-12 col-xl-12" style="color: var(--bs-card-bg);background: var(--bs-card-cap-bg);" id="options_simulation">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary fw-bold m-0">Coda Simulazioni</h6>
                                    </div>
                                    <div class="card-body" style="height: 100%; margin-bottom: 0px;">
                                        <div class="table-responsive">
                                            <table class="table", id="info-table">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Descrizione</th>
                                                        <th>Data</th>
                                                        <th>Ora</th>
                                                        <th>Durata</th>
                                                        <th>Lon</th>
                                                        <th>Lat</th>
                                                        <th>Temp</th>
                                                        <th>Codice GISA</th>
                                                        <th>Comune</th>
                                                        <th>ctgproc</th>
                                                        <th>terrel</th>
                                                        <th>lnd2</th>
                                                        <th>makegeo</th>
                                                        <th>calmet</th>
                                                        <th>calpuff</th>
                                                        <th>calpost</th>
                                                        <th>wrf2calwrf</th>
                                                        <th>calwrff</th>
                                                        <th>dst</th>
                                                        <th>www</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Uniparthenope 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/KML.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        let id_workflow_jobs_queue = [];
        let comuni = [];
        let comuniList = document.getElementById('comuni_list');
        document.getElementById('comune_label').addEventListener('click', populateDatalist);
        //window.addEventListener('load', cotrolJobsQueue);
        setInterval(checkStatusJobsQueue, 5000);


        // Funzione per popolare la datalist con i comuni
        function populateDatalist() {
            comuniList.innerHTML = '';  // Pulisce eventuali opzioni esistenti
            comuni.forEach(comune => {
                const option = document.createElement('option');
                option.value = comune;
                comuniList.appendChild(option);
            });
        }

        function checkStatusJobsQueue() {

            let tot_jobs = parseInt("{{session['tot_jobs_queue']}}");

            if( parseInt(tot_jobs) > 0 ) {                
                let tbody = document.getElementById("info-table").getElementsByTagName("tbody")[0];
                fetch('/getInfoJobsQueue')
                .then(response => response.json())
                .then(data =>{
                    for(let i=0; i<tot_jobs; i++) {
                        if(!tbody.rows[i]){
                            let new_row = tbody.insertRow();
                            for(let j=0; j<10; j++) {
                                new_row.insertCell().textContent = data[i][j];
                            }
                        }
                    }
                    //console.log("rows : " , tbody.rows.length);
                    //console.log("tot_jobs : ", tot_jobs);
                })
                .catch(error => console.error('Errore durante il recupero del file:', error));           
                    
                    
                fetch('/getStatusJobsQueue')
                .then(response => response.json())
                .then(data => {
                    /*
                    console.log("data completo : ", data);
                    let workflow = ['calmet', 'calpost', 'calpufff', 'calwrff', 'ctgproc', 'dst', 'lnd2', 'makegeo', 'terrel', 'wrf2calwrf', 'www'];
                    for(let i=0; i<tot_jobs; i++) {
                        console.log("----------------------" + " JOB : " + i + "-----------------------------");                            
                        let job = data[i]
                        console.log("job :", job);
                        for(let j=0; j<11; j++){
                            console.log("value data[i][j]["+ workflow[j] +"] : ", job[0][workflow[j]]);
                        }
                        console.log("---------------------------------------------------------------------------------");
                    }
                    */
                    for(let i=0; i<tot_jobs; i++) {
                        let selected_row = tbody.rows[i];
                        let workflow = ['ctgproc', 'terrel', 'lnd2', 'makegeo', 'wrf2calwrf', 'calwrff', 'calmet', 'calpufff', 'calpost', 'www', 'dst']

                        for(let j=10; j<21; j++) {
                            if(!selected_row.cells[j]){
                                selected_row.insertCell(j).textContent = data[i][0][workflow[j-10]]
                            } else {
                                selected_row.cells[j].textContent = data[i][0][workflow[j-10]];
                            }

                            if(data[i][0][workflow[j-10]] == 'RUNNING') {
                                selected_row.cells[j].style.color = 'blue';
                            } else if(data[i][0][workflow[j-10]] == 'FINISHED') {
                                selected_row.cells[j].style.color = 'green';
                            } else if(data[i][0][workflow[j-10]] == 'WAITING') {
                                selected_row.cells[j].style.color = 'gray';
                            }
                        } 
                    }
                })
                .catch(error => console.error('Errore durante il recupero del file:', error));
            }      
        }

        function showInputForm() {
            let form_input = document.getElementById('row-input');
            let button_show = document.getElementById('button-show');

            if(form_input.style.display == 'none' && button_show.style.display == 'block') {
                form_input.style.display = 'block';
                button_show.style.display = 'none';
            } else if ( form_input.style.display == 'block' && button_show.style.display == 'none') {
                form_input.style.display = 'none';
                button_show.style.display = 'block';
            }
        }
        
        fetch('static/centroidi_comuni/centroidi_comuni.geojson')
        .then(response => response.json())
        .then(data => {
            for (let feature of data.features) {
                comuni.push(feature.properties.COMUNE);
            }
        })
        .catch(error => console.error('Errore durante il recupero del file:', error));

    </script>
</body>

</html>